spring:
  application:
    name: wallet
  datasource:
    driverClassName: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/cryptowallet
    username: walletapp
    password: itdoesntmatter

