spring:
  application:
    name: wallet
  datasource:
    driverClassName: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/cryptowallet
    username: walletapp
    password: itdoesntmatter

asset:
  market:
    data:
      update:
        #cron: "0 0/1 * * * ?" # every 5 minutes
        cron: "0 0 0 31 2 ?" # disable
      update-interval: 60 # 5 minutes
      resourceUri: "https://api.coincap.io/v2"